<div class="scrollable">
<div class="scrollable-content">
    <div class="container-fluid section section-break" id="gorderList">

        <h2>Group Orders <a class="btn btn-primary pull-right" href="#/gorder/create"><i
                class="icon-plus-sign icon-white"></i>Add</a></h2>
        
        <table class="table table-hover">
            <tr>
                <th>
                    STOCK
                </th>
                <th>
                    TYPE
                </th>
                <th>
                    IN BUCKET
                </th>
                <th>
                    ACTION
                </th>
            </tr>
            <tr class="success-{{tran.done}}" ng-repeat="gorder in gorders">
                <td>
                    {{gorder.stock}}
                </td>
                <td>
                    {{gorder.type}}
                </td>
                <td>
                    <md-progress-circular class="md-primary md-hue-1" md-mode="determinate" value={{gorder.amountInBucket/8000*100}}></md-progress-circular>
                    {{gorder.amountInBucket}}/8000
                </td>
                <td>
                    buy/sell/cancel
                </td>
            </tr>
        </table>

    </div>
</div>
</div>