<div class="scrollable">
<div class="scrollable-content">
    <div class="container-fluid section section-break" id="orderCreate">
  
        <form class="form-horizontal" role="form" ng-submit="createOrder()">
            
            <div class="form-group">
                <div class="col-sm-10" >
                    <h1>1</h1>
                    <label for="title" class="col-sm-2 control-label">NEW ORDER ENTRY</label>
                </div>
            </div>
            
            <div class="form-group">
                <div class="col-sm-10" >
                    <label class="sideBuy">
                        <input type="radio" ng-model="order.type" ng-change="changeTransType('buy')" value="buy" > 
                        BUY
                    </label>
                    <label class="sideSell">
                        <input type="radio" ng-model="order.type" ng-change="changeTransType('sell')" value="sell" >
                        SELL
                    </label><br/>
                </div>
            </div>
            
            <div class="form-group">
                <label for="title" class="col-sm-2 control-label">STOCK </label>
        
                <div class="col-sm-10" >
                    <input type="text" class="form-control" id="title" ng-model="order.stock">
                </div>
            </div>
            
            <div class="form-group">
                <label for="title" class="col-sm-2 control-label">QUANTITY </label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="title" ng-model="order.quantity" ng-readonly="order.type == 'buy'">
                </div>
            </div>
            
            <div class="form-group">
                <label for="title" class="col-sm-2 control-label">PRICE </label>
        
                <div class="col-sm-10" >
                    <input type="text" class="form-control" id="title" ng-model="order.price" ng-readonly="true">
                </div>
            </div>
            
            <div class="form-group">
                <label for="title" class="col-sm-2 control-label">TOTAL </label>
        
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="title" ng-model="order.total" ng-readonly="order.type == 'sell'">
                </div>
            </div>
            
            <div class="form-group cellupperline">
                <label for="title" class="col-sm-2 control-label">CASH </label>
        
                <div class="col-sm-10" >
                    {{order.cash}}
                </div>
            </div>
            <div class="form-group">
                <label for="title" class="col-sm-2 control-label">BUYING POWER </label>
        
                <div class="col-sm-10" >
                    {{order.buyingPower}}
                </div>
            </div>
            
            <div class="form-group  cellupperline">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">Create Order</button>
                </div>
            </div>
        </form>

    </div>
</div>
</div>