<div class="scrollable">
<div class="scrollable-content">
    <div class="container-fluid section section-break" id="traderView">

        <table class="table table-hover">
            <tr>
                <th>
                    STK
                </th>
                <th>
                    TYP
                </th>
                <th>
                    QTY
                </th>
                <th>
                    PRC
                </th>
                <th>
                    TOTAL
                </th>
                <th>
                    ACT
                </th>
            </tr>
            <tr class="success-{{tran.done}}" ng-repeat="tran in trans">
                <td>
                    {{tran.stock}}
                </td>
                <td>
                    {{tran.type}}
                </td>
                <td>
                    {{tran.quantity}}
                </td>
                <td>
                    {{tran.price}}
                </td>
                <td>
                    <md-progress-circular class="md-primary md-hue-1" md-mode="determinate" md-diameter="20"
                        value={{tran.total/8000*100}}></md-progress-circular>
                    {{tran.total}}
                </td>
                <td>
                    b/s/c
                </td>
            </tr>
        </table>
    
    
        
        <div class="form-group  cellupperline">
            <div class="col-sm-offset-2 col-sm-10">
                <a class="btn btn-primary pull-right" href="#/orderz/fill"><i
                        class="icon-plus-sign icon-white"></i>Fill Order</a>
            </div>
        </div>
        
    </div>
</div>
</div>
    
