<div class="scrollable">
<div class="scrollable-content">
    <div class="container-fluid section section-break" id="holdingsList">

        <h2>Portfolio <a class="btn btn-primary pull-right" href="#/holdings/create"><i
                class="icon-plus-sign icon-white"></i>Buy a Stock</a></h2>
        
        <table class="table table-hover">
            <tr>
                <th>
                    STOCK
                </th>
                <th>
                    SHARES
                </th>
                <th>
                    MKT VALUE
                </th>
                <th>TOTAL COST</th>
                <th>PROFIT/LOSS</th>
                <th>%P/L</th>
            </tr>
            <tr class="success-{{todo.done}}" ng-repeat="todo in todos">
                <td>
                    {{todo.title}}
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
        
    </div>
</div>
</div>